@model IEnumerable<WebApplication1.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>Created on</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <span>@item.DateCreated.ToDateTime().ToShortDateString()</span>
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  blogId = item.Id }) |
                @Html.ActionLink("See Posts", "Index", "Posts", new { blogId = item.Id}) |
                  
                
                <a href="\Blogs\Delete?blogId=@item.Id">Delete</a>
                @*@Html.ActionLink("Delete", "Delete", new {blogId = item.Id   })*@
            </td>
        </tr>
}
    </tbody>
</table>
